*{ margin:0px; padding:0px;}
#quanbu{ background:url(b0deadab09c3bc4835009a17e73c1c75.jpg); width:800px; height:730px; margin:0 auto; margin-top:20px;}


.shang{ width:100px; height:100px;margin-left:300px;}
.zhong{ width:200px; height:200px; margin-left:300px; background-color:#990;border-radius:100px;}
.xia{margin-left:300px; height:30px;}
.ji{margin-left:300px; color:#FFF; }
.ji a{ text-decoration:none;color:#FFF; font-size:24px;}
.ji a:hover{ color:#960;}
.bi{margin-left:200px; height:30px; }
.ci{margin-left:200px;color:#FFF; }
.ci a{ text-decoration:none;color:#FFF;font-size:24px;}
.ci a:hover{color:#960;}
.nn{ margin-top:260px; width:800px; height:30px;}
.nn a{text-decoration:none;color:#FFF;font-size:18px; }
