*{ margin:0px; padding:0px;}
#vi{ width:300px; height:800px; background-color:#000; margin:0 auto;}
.tu{ width:300px; height:350px; }
.yi a{text-decoration:none;color:#FFF;font-size:24px;}
.vu a{text-decoration:none;color:#FFF;font-size:24px; }
.hi a{text-decoration:none;color:#FFF;font-size:24px; }
.ri a{text-decoration:none;color:#FFF;font-size:24px;}
.ti a{text-decoration:none;color:#FFF;font-size:24px;}
